
/* Overall styling */
body {
    color: white;
    background-color: black;
    font-family: 'Constantia', sans-serif;
    margin: 0;
    padding: 35px;
    align-items: center;
  }

  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('rain\ dark.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1; /* Ensures the background stays behind other content */
  }
  
  .content {
    color: white;
  }
  


  /* The welcome section */
  #welcome {
    
    text-align: center;
    justify-content: center;
    
    font-size: 35px;
  }

  
  
  /* The article section */
  #article {
    font-family: 'Constantia', sans-serif;
    font-size: 25px;
    margin-left: 200px;
    margin-right: 200px;
  
    display: flex;
    position: center;
    justify-content: center;

    text-align: center;
  
    line-height: 2;
  }

  mark {
    
    background-color: transparent;
    font-style: italic;
    color: white;

  }

  
  
  
  /* The footer section */
  footer {
    color: white;
    padding: 20px;
    text-align: center;
  }
  